@if (sqlMenuOpen || typescriptMenuOpen) {
  <mat-sidenav
    mode="side"
    opened
    [style.width]="sqlMenuOpen ? '250px' : (typescriptMenuOpen ? '250px' : '64px')"
    class="sidebar"
    [class.compact]="!sqlMenuOpen && !typescriptMenuOpen"
  >

    <mat-nav-list>

      <div class="sidebar-logo">
        @if (sqlMenuOpen || typescriptMenuOpen) {
          <img src="assets/images/studybooks.png" alt="Study Hub Logo" />
        } @else {
          <mat-icon>menu</mat-icon>
        }
      </div>

      <!-- SQL MENU -->
      @if (sqlMenuOpen) {
        <mat-expansion-panel [expanded]="sqlMenuOpen" class="sql-tutorial-panel">
          <mat-expansion-panel-header>
            SQL Tutorial
          </mat-expansion-panel-header>

          <mat-nav-list>

            <!-- SQL Basic Section -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>SQL Basic</mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="/SQL/basicsql" matTooltip="Introduction">Introduction</a>
                <a mat-list-item routerLink="/SQL/basicsql-Sqldatatype" matTooltip="SQL Data Type">SQL Data Type</a>
                <a mat-list-item routerLink="/SQL/basicsql-crud" matTooltip="CRUD Operations">CRUD Operations</a>
                <a mat-list-item routerLink="/SQL/basicsql-dataconstraints" matTooltip="Data Constraints">Data Constraints</a>
                <a mat-list-item routerLink="/SQL/basicsql-sqloperators" matTooltip="SQL Operators">SQL Operators</a>
                <a mat-list-item routerLink="/SQL/basicsql-sqlfunction" matTooltip="SQL Functions">SQL Functions</a>
                <a mat-list-item routerLink="/SQL/basicsql-sqljoin" matTooltip="SQL Joins">SQL Joins</a>
                <a mat-list-item routerLink="/SQL/basicsql-sqlsubquery" matTooltip="SQL Subquery">SQL Subquery</a>
                <a mat-list-item routerLink="/SQL/basicsql-sqlviews" matTooltip="SQL Views">SQL Views</a>
                <a mat-list-item routerLink="/SQL/basicsql-sqlindexes" matTooltip="SQL Indexes">SQL Indexes</a>
                <a mat-list-item routerLink="/SQL/basicsql-sqlstoredprocedure" matTooltip="SQL Stored Procedure">SQL Stored Procedure</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqltransactionsComponent" matTooltip="SQL Transactions">SQL Transactions</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqltriggersComponent" matTooltip="SQL Triggers">SQL Triggers</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqlCommonTableExpressionComponent" matTooltip="SQL CTE">SQL CTE</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqlpartitioningComponent" matTooltip="SQL Partitioning">SQL Partitioning</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqlNormalizationComponent" matTooltip="SQL Normalization">SQL Normalization</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqlrecursivequeryComponent" matTooltip="SQL Recursive Queries">SQL Recursive Queries</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqlpivotunpivotComponent" matTooltip="SQL Pivot & Unpivot">SQL Pivot & Unpivot</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqljsonComponent" matTooltip="JSON in SQL">JSON in SQL</a>
                <a mat-list-item routerLink="/SQL/SqlbasicSqlfullTextSearchComponent" matTooltip="Full-Text Search in SQL">Full-Text Search</a>
              </mat-nav-list>
            </mat-expansion-panel>

            <br />

            <!-- SQL Advanced Section -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>SQL Advanced</mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="/SQL/SqlAdvanceSequrityinsqlEncriptmaskComponent" matTooltip="Security in SQL">Security in SQL</a>
                <a mat-list-item routerLink="/SQL/SqlAdvancePerformanceOptimizationComponent" matTooltip="SQL Performance Optimization">Performance Optimization</a>
                <a mat-list-item routerLink="/SQL/SQL-Practice" matTooltip="SQL Practice">SQL Practice</a>
              </mat-nav-list>
            </mat-expansion-panel>

          </mat-nav-list>
        </mat-expansion-panel>
      }

      <!-- TYPESCRIPT MENU -->
      @if (typescriptMenuOpen) {
        <mat-expansion-panel [expanded]="typescriptMenuOpen" class="sql-tutorial-panel">
          <mat-expansion-panel-header>
            TypeScript Tutorial
          </mat-expansion-panel-header>

          <mat-nav-list>
            <mat-expansion-panel>
              <mat-expansion-panel-header>TypeScript</mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="/TypeScript/TypeScriptIntro" matTooltip="Introduction">Introduction</a>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-nav-list>
        </mat-expansion-panel>
      }

    </mat-nav-list>
  </mat-sidenav>
}
