<header class="topbar">
  <!-- Sidebar Toggle Button -->
  <!-- <button mat-icon-button (click)="toggleSidebar()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button> -->

  <!-- Page Title -->
  <h2 class="title">Study Hub</h2>

  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" placeholder="Search courses..." class="search-bar" />
  </div>

  <!-- User Info and Login/Logout Button -->
  <div class="auth-buttons">
    @if (isLoggedIn()) {
      <span class="user-email">{{ userEmail() }}</span>
    }
    @if (!isLoggedIn()) {
      <button (click)="navigateToLogin()">Login</button>
      <button (click)="navigateToRegister()">Register</button>
    }
    @if (isLoggedIn()) {
      <button (click)="logout()">Logout</button>
    }
  </div>
  
</header>