<!-- <nav class="menu-bar">
  <button mat-button class="menu-item" (click)="toggleSqlMenu()" >
    SQL
    <mat-icon>{{ sqlMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
  </button>
   Add more menu items here as needed 
</nav> -->
<nav class="menu-bar">
  <button mat-button class="menu-item" 
          [attr.aria-expanded]="sqlMenuOpen()" 
          (click)="toggleSqlMenu()"
          >
    SQL
     <mat-icon>{{ sqlMenuOpen() ? 'close' : 'menu' }}</mat-icon>
  </button>

  <button mat-button class="menu-item" 
          [attr.aria-expanded]="typescriptMenuOpen()" 
          (click)="toggleTypeScriptMenu()"
         >
    TypeScript
    
    <mat-icon>{{ typescriptMenuOpen() ? 'close' : 'menu' }}</mat-icon>
  </button>
</nav>

